body {
    background: #f6f6fa;
    padding: 40px 40px 40px 40px;
    font-family: "Lato", sans-serif;
    line-height: 1.6;
    color: #333333;
}

ul {
    padding-left: 0;
}

.wrapper {
    background: #d7c4c4;
    display: flex;
    flex-direction: row-reverse;
    max-width: 1400px;
    margin: 0;
}

.main-content {
    padding: 40px 40px 40px 40px;
    box-sizing: border-box;
}

.main-info-container {
    margin-bottom: 40px;
    text-align: center;
    background-color: #c3a9a9;
    padding: 28px;
    box-sizing: border-box;
}

.summary {
    text-align: left;
}



/*@media screen and (min-width: 1255px) {
    .container {
        max-width: 1255px;
        padding: 20px;
        margin-bottom: 20px;
    }
}
*/
.section-container {
    margin-bottom: 40px;
    text-align: left;
}

h1 {
    font-weight: 900;
    font-size: 38px;
    line-height: 39px;
    color: #000;
    margin-top: 0;
    margin-bottom: 30px;
}

h2 {
    font-weight: 400;
    font-size: 28px;
    line-height: 17px;
    color: #000;
    margin-top: 0;
    margin-bottom: 20px;
}

h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin-top: 0;
    margin-bottom: 20px;
}

.bold-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin-top: 0;
    margin-bottom: 8px;
}

.main-resume-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    margin-top: 0;
    margin-bottom: 8px;
}

h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    margin-top: 0;
    margin-bottom: 8px;
}

.marked-sidebar-item {
    list-style: disc;
    margin-left: 10px;
    margin-bottom: 0;
}

.marked-main-item {
    list-style: disc;
    margin-left: 40px;
    margin-bottom: 0;
}

.unmarked-item {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
}

.sidebar {
    background: #c3a9a9;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 370px;
}

.sidebar-content {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

.no-decor {
    color: #000;
    text-decoration: none;
}

.no-decor:hover {
    text-decoration: underline;
}

.link {
    color: #000;
    text-decoration: underline;
}

.link:hover {
    text-decoration: none;
}

@media print {
    @page {
        margin: 0;
        /*size: A4;*/
    }

    body {
        margin: 0;
    }
}